body {
    color: #efd;
    background: #5b80b2;
    padding: 05em;
    margin: 0;
}

h1 {
    padding: 2em 1em;
    background: #447e9b;
}

h2 {
    color: #bf8;
    border-top: 1px dotted #fff;
    margin-top: 2em;
}

p {
    margin: 1em 0;
}