{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.timestamp|date }}</p>
        <p>{{ post.body }}</p>
    {% endfor %}
{% endblock %}