{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
{#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
<link rel="stylesheet" href="{% static 'blog/CSS/base.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Posts archive</title>
</head>
<body>
    <h1>Vetos blog</h1>
    {% block content %}
    {% endblock %}
</body>
</html>